@using Models
@model IEnumerable<User>



@{
    ViewBag.Title = StringLocalizer["Users"];

    var rolesSearchList = Enum.GetValues<Roles>().Select(x => new SelectListItem(StringLocalizer[x.ToString()], x.ToString())).ToList();
    rolesSearchList.Insert(0, new SelectListItem(string.Empty, string.Empty));
}

@*@HtmlLocalizer["UsersCounter", Model.Count()]*@
@ViewLocalizer["UsersCounter", Model.Count()]

<div>

    @using (@Html.BeginForm())
    {
        @StringLocalizer["Phrase"] @Html.TextBox("phrase") <br>
        @StringLocalizer["Roles"] @Html.DropDownList("roles", rolesSearchList) <br>

        @*@Html.AntiForgeryToken()*@

        <input type="submit" value="@StringLocalizer["Search"]" asp-action="Search" />
    }

</div>
<div>

    <table class="table">
        <thead>
            <tr>
                <partial name="_UsersHeader" model="new Models.User()" />
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <partial name="_UserBody" for="@item" />
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">@StringLocalizer["Delete"]</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>